@model IEnumerable<WebBanHang.Models.Oder>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/Components/_AdminPage.cshtml";
    //Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Order</h2>
<nav aria-label="Order Paging">
    @await this.Component.InvokeAsync("Pager", new { pagingList = this.Model })
</nav>

<table class="table">
    <thead>
        <tr>
            <th>
                Order code 
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CheckOutType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ShipName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Total)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CheckOutType)
            </td>
            <td>
                @if (item.Status)
                {
                    <p>SUCCESS</p>
                }
                else
                {
                    <p>FALSE</p>
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ShipName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Total)
            </td>
            <td style='font-size:24px'>
                <a asp-action="Edit" asp-route-id="@item.ID"><i class="fa fa-edit"></a> |
                <a asp-action="Details" asp-route-id="@item.ID"><i class="fa fa-align-left"></a> |
                <a asp-action="Delete" asp-route-id="@item.ID"><i class="fa fa-trash-o"></a>
            </td>
        </tr>
}
    </tbody>
</table>
