@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model IEnumerable<WebBanHang.Models.Oder>
@{
    ViewData["Title"] = "Oder History";
    Layout = "~/Views/Shared/Layout_Sanpham.cshtml";
}
<h5>Order history , ID cutomer : @ViewBag.id </h5>
<nav aria-label="Order Paging">
    @await this.Component.InvokeAsync("Pager", new { pagingList = this.Model })
</nav>
<div class="container">
    <table class="table">
        <thead>
            <tr>
                <th>
                    Order code
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CheckOutType)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Status)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ShipName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CreatedDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Total)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.ID)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CheckOutType)
                    </td>
                    <td>
                        @if (item.Status)
                        {
                            <p>SUCCESS</p>
                        }
                        else
                        {
                            <p>FALSE</p>
                        }
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ShipName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CreatedDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Total)
                    </td>
                    <td style='font-size:24px'>
                        <a asp-action="Details" asp-route-id="@item.ID" ><i class="fa fa-align-left"></a> |
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>