@model ReflectionIT.Mvc.Paging.IPagingList<WebBanHang.Models.HangHoa>

@using ReflectionIT.Mvc.Paging
@addTagHelper *,ReflectionIT.Mvc.Paging

@{
    ViewData["Title"] = "Yéni Shop";
    Layout = "~/Views/Shared/Layout_TrangChu.cshtml";
}

<div class="row">
    <div class="col-lg-12">
        <div class="heading"><h2>NEW PRODUCTS</h2></div>
        <div class="products">

            @foreach (var item in Model)
            {
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="product" style="width:270px;height:280px;padding:5px">
                        
                        <div class="image" >
                            <a asp-action="Details" asp-controller="TrangChus" asp-route-mahh="@item.MaHH"> <img style="margin:auto" src="~/Hinh/@item.Hinh" width="250" height="250" alt="Just imported @item.TenHH" /></a>
                        </div>

                        
                        <div class="caption">
                            <div class="name"><h3><a>  @Html.DisplayFor(modelItem => item.TenHH)</a></h3></div>
                            <div style="font-size:16px"><strong> @item.DonGia</strong> $</div>
                        </div>
                    </div>
                </div>
            }

        </div>


    </div>
</div>


<div class="row">
    <div class="col-lg-12">
        <div class="heading"><h2>SELLING PRODUCTS</h2></div>
        <div class="products">
            @foreach (var item in ViewBag.model3s)
            {

                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="product" >
                        <div class="image">
                            <a asp-action="Details" asp-controller="TrangChus" asp-route-mahh="@item.MaHH"> <img style="margin:auto" src="~/Hinh/@item.Hinh" width="250" height="250" alt="Best seller @item.TenHH" /></a>
                        </div>
                        <div class="caption">
                            <div class="name"><h3><a> @item.TenHH</a></h3></div>
                            <div style="font-size:16px"><strong> @item.DonGia</strong>$</div>
                        </div>
                    </div>
                </div>
            }

        </div>

    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="heading"><h2>HIGHLIGHTS PRODUCTS</h2></div>
        <div class="products">
            @foreach (var item in ViewBag.model2)
            {

                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="product" style="width:270px;height:280px;padding-top:10px">
                        <div class="image">
                            <a asp-action="Details" asp-controller="TrangChus" asp-route-mahh="@item.MaHH"> <img src="~/Hinh/@item.Hinh" width="250" height="250" alt="Hot product @item.TenHH" /></a>
                        </div>
                        <div class="caption">
                            <div class="name"><h3><a>  @item.TenHH</a></h3></div>
                            <div style="font-size:16px"><strong> @item.DonGia</strong>$</div>
                        </div>
                    </div>
                </div>
            }

        </div>

    </div>
</div>