
@model IEnumerable<WebBanHang.Models.HangHoa>

@{
    ViewData["Title"] =  ViewData["TenLoai"];
    Layout = "~/Views/Shared/Layout_Sanpham.cshtml";
}


<div class="container">
    <div class="row">
        <div class="row">
            <div class="col-lg-12">
                <div class="heading"><h2>Products </h2></div>
                <div class="products">


                    @foreach (var item in Model)
                    {
                        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                            <div class="product" style="width:270px;height:280px">
                                <div class="image" >
                                    <a asp-action="Details" asp-route-mahh="@item.MaHH"> <img src="~/Hinh/@item.Hinh"  width="250" height="250" alt="@item.Loai.TenLoai Product @item.MaHH" /></a>
                                </div>



                                <div class="caption">
                                    <div class="name"><h3 style="font-size:16px"><a>  @Html.DisplayFor(modelItem => item.TenHH)</a></h3></div>
                                    <div style="font-size:16px"><strong>@Html.DisplayFor(modelItem => item.DonGia) $</strong>
                                    </div>
                                   
                                </div>

                            </div>
                        </div>
                    }
                </div>
            </div>

        </div>
    </div>

    </div>


