@{
    ViewData["Title"] = "Manage your account";
    Layout = "~/Views/Shared/Layout_3.cshtml";
}
@model WebBanHang.Models.AppUser
<div id="page-content" class="single-page">
    <div class="container">

        <div class="row">
            <div class="col-md-12">
                <div class="heading"><h1>Hi, @Model.UserName</h1></div>
                <div class="container-fluid" style="font-size:24px">
                    <div><strong>User name</strong> : @Model.UserName </div>
                    <br />
                    <div>
                        <strong> Email</strong> : @Html.DisplayFor(model => model.Email)
                        <a asp-controller="ManageAccount" asp-action="ChangeEmail" class="btn btn-warning">Change</a>
                    </div>
                    <br />
                    <div>
                        <strong>Address: </strong> @Html.DisplayFor(model => model.Address)
                        <a asp-controller="ManageAccount" asp-action="ChangePassword" class="btn btn-warning">Change</a>
                    </div>
                    <br />
                    <div>
                        <strong>Password: </strong> @Html.DisplayFor(model => model.Email)
                        <a asp-controller="ManageAccount" asp-action="ChangePassword" class="btn btn-warning">Change</a>
                    </div>
                    <br />
                    <div>


                        @if (Model.PhoneNumber != null)
                        {

                            <form asp-controller="ManageAccount" asp-action="RemovePhoneNumber" method="post">
                                <strong>Phone Number: </strong> @Model.PhoneNumber
                                <a asp-controller="ManageAccount" asp-action="AddPhoneNumber" class="btn btn-warning">Change</a>
                                <button type="submit" class="btn btn-danger">Remove</button>
                            </form>
                        }
                        else
                        {
                            <strong>Phone Number: </strong>
                            <a asp-controller="ManageAccount" asp-action="AddPhoneNumber" class="btn btn-success">Add phone number</a>
                        }
                    </div>

                    <br />
                    <div>
                        <strong>Ordered :</strong> <a asp-controller="Oders" asp-route-idcustomer="@Model.Id" asp-action="OrderHistory"> Order History</a>
                    </div>

                </div>

            </div>
        </div>
    </div>
</div>