@{
    ViewData["Title"] = "Manage your account";
    Layout = "~/Views/Shared/Layout_3.cshtml";
}
@model WebBanHang.Models.AppUser
<div id="page-content" class="single-page">
    <div class="container">

        <div class="row">
            <div class="col-md-12">
                <div class="heading">
                <img style=" border-radius: 50%;" src="~/img/25.jpg" alt="Paris" width="150" height="150" />
                <h1>Hi, @Model.UserName</h1></div>
                <div class="container-fluid" style="font-size:24px">
                    <div class="row">
                        
                        <div class="row"><div class="col-md-12"><strong>User name</strong> : @Model.UserName</div> </div>
                        <hr />
                        <div class="row">
                            <div class="col-md-6"><strong> Email</strong> : @Html.DisplayFor(model => model.Email)</div>
                            <div class="col-md-6"><a asp-controller="ManageAccount" asp-action="ChangeEmail" class="btn btn-warning">Change</a></div>
                        </div>
                        <hr />
                        <div class="row">
                            <div class="col-md-6"><strong>Address: </strong> @Html.DisplayFor(model => model.Address)</div>
                            <div class="col-md-6"><a asp-controller="ManageAccount" asp-action="Address" class="btn btn-warning">Change</a></div>
                        </div>
                        <hr />
                        <div class="row">
                            <div class="col-md-6"><strong>Password: </strong> @Html.DisplayFor(model => model.Password)</div>
                            <div class="col-md-6"><a asp-controller="ManageAccount" asp-action="ChangePassword" class="btn btn-warning">Change</a></div>


                        </div>
                        <hr />
                        <div class="row">



                            @if (Model.PhoneNumber != null)
                            {

                                <form asp-controller="ManageAccount" asp-action="RemovePhoneNumber" method="post">
                                    <div class="col-md-6"><strong>Phone Number: </strong> @Model.PhoneNumber</div>
                                    <div class="col-md-6">
                                        <a asp-controller="ManageAccount" asp-action="AddPhoneNumber" class="btn btn-warning">Change</a>
                                        <button type="submit" class="btn btn-danger">Remove</button>
                                    </div>
                                </form>
                            }
                            else
                            {
                                <div class="col-md-6"><strong>Phone Number: </strong></div>
                                <div class="col-md-6"><a asp-controller="ManageAccount" asp-action="AddPhoneNumber" class="btn btn-success">Add phone number</a></div>

                            }
                        </div>
                        <hr />
                        <div class="row">
                            <div class="col-md-12"><strong>Ordered :</strong> <a asp-controller="Oders" asp-route-idcustomer="@Model.Id" asp-action="OrderHistory"> Order History</a></div>
                        </div>



                    </div>
                </div>

            </div>
        </div>
    </div>
</div>